@page
@model MinhaAppSqlite.Pages.Cliente.IndexModel
@{
    ViewData["Title"] = "Cadastro de Clientes";
}

<div class="container">

    <h1>Cadastro de Clientes</h1>
    <div class="container my-2 p-2" style="background: #aabb11">
        <a asp-page="Create" class="btn btn-success">Novo</a>
        <a asp-page="/Index" class="btn btn-secondary">Inicio</a>
    </div>

    @if (Model.Clientes.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model.Clientes)
                {
                    <tr>
                        <td>@cliente.Id</td>
                        <td>@cliente.Nome</td>
                        
                        <td class="text-center">
                            <a asp-page="Edit"
                                   asp-route-id="@cliente.Id"
                                   class="btn btn-sm btn-warning">
                                Editar
                            </a>

                            
                            <a asp-page="Delete"
                                   asp-route-id="@cliente.Id"
                                   class="btn btn-sm btn-danger">
                                Excluir
                            </a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info">
            Nenhum cliente cadastrado.
        </div>
    }
</div>
