@page
@model EditModel

@{
    ViewData["Title"] = "Editar Produto";
}



<div class="container">
    <h1>Editar Produto</h1>

    <form method="post">
        <input type="hidden" asp-for="Produto.Id" />

        <div class="mb-3">
            <label asp-for="Produto.Nome" class="form-label"></label>
            <input asp-for="Produto.Nome" class="form-control" />
            <span asp-validation-for="Produto.Nome" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Produto.Preco" class="form-label"></label>
            <input asp-for="Produto.Preco" type="number" step="0.01" class="form-control" />
            <span asp-validation-for="Produto.Preco" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">
            Salvar
        </button>

        <a asp-page="Index" class="btn btn-secondary ms-2">
            Cancelar
        </a>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
