@page
@model MinhaAppSqlite.Pages.IndexModel
@{
    ViewData["Title"] = "Página Inicial";
}

<h1>Bem-vindo a Minha Página Inicial</h1>

<h2>Módulos da Aplicação </h2>

<div class="container mt-4 bordered border-1">
    <ul class="list-group">
        <li class="btn btn-primary list-group-item">Clientes</li>
        <li class="btn btn-primary list-group-item">
            <a asp-page="/Produto/Index">Produtos</a>
        </li>
        <li class="btn btn-primary list-group-item">Vendas</li>
    </ul>
</div>

<div class="m-4 p-3">

    <h2>Minha cor preferida</h2>

    <div class="color-pink">Rosinha Profunda</div>

</div>

